
.conteudo__principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82vh;
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    padding: 15rem 30rem 15rem 30rem;
}

.conteudo__principal__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.conteudo__principal__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 20px;
    transition: all 0.3s ease;
}

/* Efeito hover */
.conteudo__principal__link:hover {
    background-color: #007BFF; 
    color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

/* Telas médias (tablets e pequenos laptops) */
@media (max-width: 1024px) {
    .conteudo__principal {
        grid-template-columns: repeat(2, 1fr); 
        padding: 5rem 5rem; 
    }
}

/* Telas pequenas (smartphones) */
@media (max-width: 768px) {
    .conteudo__principal {
        grid-template-columns: 1fr; 
        padding: 2rem; 
        height: 95vh;
    }

    .conteudo__principal__links {
        grid-template-columns: repeat(1, 1fr);
    }

    .conteudo__principal__link {
        max-width: 15rem; 
    }
}