
.conteudo__principal {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.conteudo__principal__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 25px;
}

.conteudo__principal__link:hover {
    background-color: #eaeaea;
}